modules = ["cpp-clang14", "cpp-clang20"]

[agent]

expertMode = true
 
[workflows]

runButton = "Project"
 
[[workflows.workflow]]

name = "Project"

mode = "parallel"

author = "agent"
 
[[workflows.workflow.tasks]]

task = "workflow.run"

args = "C++ Hello World"
 
[[workflows.workflow]]

name = "C++ Hello World"

author = "agent"
 
[[workflows.workflow.tasks]]

task = "shell.exec"

args = "clang++ main.cpp -o main && ./main"
 
[workflows.workflow.metadata]

outputType = "console"

 